@import url("https://fonts.googleapis.com/css2?family=Abel&family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 14, 14);
  font-family: "Abel", sans-serif;
  //   max-width: 1200px;
}
.container {
  height: 200vh;
  width: 100%;
  background-color: #707070;
  padding: 300px 0;

  .imagenes-grid {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    width: 1200px;
    margin: 0 auto;

    a {
      transform: matrix(0.95, 0.14, -0.35, 0.99, 0, 0);
      transform: matrix(0.94, 0.11, -0.38, 0.99, 0, 0);
    }

    a:hover {
      transform: none;
      transition: ease-in 0.2s;
    }

    img {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .container {
    height: auto;
    width: 100%;
    background-color: #707070;
    padding: 30px 0;

    .imagenes-grid {
      display: flex;
      flex-direction: column;
      width: 400px;
      margin: 0 auto;

      a {
        transform: none;
        display: flex;
        // align-items: center;
        justify-content: center;
      }

      a:hover {
        transform: none;
       
      }

      img {
        width: 80%;
      }
    }
  }
}
