@use "_media.scss";
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 14, 14);
  font-family: "Abel", sans-serif;
  //   max-width: 1200px;
}

.container {
  height: 100vh;
  width: 100%;
  background: url("./images/Ellipseblanca.png");

  background-repeat: no-repeat;
  background-size: contain;
  background-position: -300px -600px;
  background-size: 2000px;
  overflow: hidden;

.canvas3d{
  position: absolute;
  width: 600px;
  height: 300px;
  left: 200px;
  top: 300px;
}


  .logo {
    position: absolute;
    top: 50px;
    left: 50px;

    img {
      width: 50px;
    }
  }

  .title {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
    font-size: 12px;

    p {
      font-size: 16px;
    }

    span {
      font-size: 18px;
      color: #20e400;
    }
  }

  .dot {
    content: '';
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: #20e400 solid .6px;
    border-radius: 50%;
    left: 200px;
    overflow: hidden;
    opacity: 0;
  }

  
  .dot1 {
    animation: animation 4.1s linear ;
    
  }
  


  @keyframes animation {
    0% {
      opacity: 1;
      transform: scale(0);

    }

    100% {
      opacity: 0;
   
      transform: scale(400);

    }
  }

  

  

  .name {
    position: absolute;
    top: 50px;
    right: 50px;
    color: white;

    span {
      display: block;
    }
  }

  .social {
    position: absolute;
    right: 50px;
    top: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
      width: 30px;
      opacity: 0.5;
    }

    img:hover {
      opacity: 1;
      transform: scale(1.2);
      transition: all 0.5s;
    }
  }

  .burger {
    display: none;
  }



  .nav-bar {
    position: absolute;
    bottom: 50px;
    right: 50px;
    ul {
      li {
        display: inline-block;
        margin-left: 2rem;
        opacity: 0.5;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }

    li:hover {
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
      opacity: 1;
    }
  }

  .zombi {
    position: absolute;
    width: 500px;
    z-index: 10;
    bottom: 0;
    left: 360px;
    transition: all 1s ease;
  }

  .img1{
    position: absolute;
    width: 550px;
    top: 70px;
    left: 380px;
    z-index: 9;
    animation: halo 2s linear infinite;
    // animation: halo2 2s linear ;
    transform: scale(3);
    transition: all 1s ease;
  }

  .img2 {
    position: absolute;
    width: 650px;
    top: 20px;
    left: 330px;
    z-index: 8;
    transition: all 0.5s ease;
    animation: halo 2s linear infinite;
    // animation: halo2 2s linear ;
    transform: scale(3);
    transition: all 1s ease;
  }

  .img4 {
    position: absolute;
    width: 150px;
    top: 200px;
    left: 100px;
    z-index: 8;
    transition: all 0.1s ease;
    opacity: 0;
  }

  .img4:hover {
    opacity: 0.1;
  }

  .img5 {
    position: absolute;
    width: 125px;
    top: 290px;
    left: 220px;
    z-index: 8;
    transition: all 0.1s ease;
    opacity: 0;
  }
  .img6 {
    position: absolute;
    width: 95px;
    top: 270px;
    left: 320px;
    z-index: 8;
    transition: all 0.1s ease;
    opacity: 0;
  }

  .img5:hover {
    opacity: 0.2;
    transform: scale(1.2);
  }
  .img6:hover {
    opacity: 0.2;
    transform: scale(1.2);
  }

  .hide {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 450px;
    left: 130px;
    display: none;
    z-index: 5;
  }

  @keyframes halo2 {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(3);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes halo {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(20px);
    }

    100% {
      transform: translateY(0px);
      //   transform: scale(1);
    }
  }
  .under {
    position: absolute;
    font-size: 32px;
    color: rgb(237, 46, 78);
    top: 200px;
    left: 100px;
    font-weight: 900;
    z-index: 100;
  }
}

.close {
  display: none;
  position: absolute;
  right: 20px;
  top: 30px;
  width: 30px;
  z-index: 2;
  cursor: pointer;
}

.close2 {
  display: none;
  position: absolute;
  right: 20px;
  top: 30px;
  width: 30px;
  z-index: 120;
}

.close-menu {
  display: none;
  position: absolute;
  right: 20px;
  top: 30px;
  width: 30px;
  z-index: 120;
}


.close.active,
.close2.active {
  display: block;
}
.overlay {
  display: none;
  .overlay-contact {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #707070;
    z-index: 100;
    opacity: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 200px;

    .phone {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 330px;
      padding: 50px 30px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background-color: #919191;

      .phone-img {
        img {
          width: 100px;
        }
      }

      .info {
        h2 {
          font-size: 2rem;
          padding-bottom: 1rem;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }

    .email {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 340px;
      padding: 50px 30px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background-color: #919191;

      .email-img {
        img {
          width: 100px;
        }
      }

      .info {
        h2 {
          font-size: 2rem;
          padding-bottom: 1rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
.overlay2 {
  display: none;
  z-index: 100;
  .overlay-about {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #707070;
    z-index: 100;
    opacity: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 200px;

    .main-about-me {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 630px;
      min-height: 500px;
      padding: 50px 30px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background-color: #919191;

      .me-img {
        img {
          width: 300px;
        }
      }

      .info {
        h2 {
          font-size: 2rem;
          padding-bottom: 1rem;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }

  
  }
}







//  1441px..........................

@media (min-width: 1441px) {
  .container {
    height: 100vh;
    width: 100%;
    // max-width: 1920px;
    background: url("./images/Ellipseblanca.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 2000px;
    overflow: hidden;

    .logo {
      position: block;
      top: 50px;
      left: 50px;

      img {
        width: 60px;
      }
    }

    .title {
      position: absolute;
      bottom: 25px;
      left: 50px;
      color: white;
      font-size: 20px;
      z-index: 11;

      p {
        font-size: 20px;
      }

      span {
        font-size: 22px;
        color: #20e400;
      }
    }

    .nav-bar {
    position: absolute;
    bottom: 50px;
    right: 50px;
    ul {
      li {
        display: inline-block;
        margin-left: 2rem;
        opacity: 0.5;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }

   


  }
    .name {
      position: absolute;
      top: 30px;
      right: 50px;
      color: white;
      font-size: 20px;
      display: block;

      span {
        display: block;
      }
    }
    .social {
      position: absolute;
      right: 50px;
      top: 360px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      img {
        width: 40px;
        opacity: 0.5;
      }

      img:hover {
        opacity: 1;
        transform: scale(1.2);
        transition: all 0.5s;
      }
    }

    .burger {
      display: none;
    }

    .close {
      display: none;
      position: absolute;
      right: 50px;
      top: 30px;
      width: 30px;
      z-index: 120;
      cursor: pointer;
    }
    .close2 {
      display: none;
      position: absolute;
      right: 50px;
      top: 30px;
      width: 30px;
      z-index: 120;
      cursor: pointer;
    }

    .close-menu {
      display: none;
      position: absolute;
      right: 20px;
      top: 30px;
      width: 30px;
      z-index: 120;
    }

    
    
    .close.active,
    .close2.active {
      display: block;
    }
    .zombi {
      position: absolute;
      width: 700px;
      z-index: 10;
      bottom: 0;
      left: 600px;
      transition: all 1s ease;
    }

    .img1 {
      position: absolute;
      width: 650px;
      top: 130px;
      left: 680px;
      z-index: 3;
      animation: halo 2s linear infinite;
      overflow: hidden;
      display: block;
    }

    .img2 {
      position: absolute;
      width: 770px;
      top: 60px;
      left: 620px;
      z-index: 2;
      transition: all 0.5s ease;
      animation: halo2 2s linear infinite;
      overflow: hidden;
      display: block;
    }

    .img4 {
      position: absolute;
      width: 150px;
      top: 200px;
      left: 100px;
      z-index: 8;
      transition: all 0.1s ease;
      opacity: 0;

      // animation: halo2 2s linear infinite;
    }

    .img4:hover {
      opacity: 0.1;
      // transform: scale(1.2);
    }

    .img5 {
      position: absolute;
      width: 125px;
      top: 290px;
      left: 220px;
      z-index: 8;
      transition: all 0.1s ease;
      opacity: 0;

      // animation: halo2 2s linear infinite;
    }
    .img6 {
      position: absolute;
      width: 95px;
      top: 270px;
      left: 320px;
      z-index: 8;
      transition: all 0.1s ease;
      // animation: halo2 2s linear infinite;
      opacity: 0;
    }

    .img5:hover {
      opacity: 0.2;
      transform: scale(1.2);
    }
    .img6:hover {
      opacity: 0.2;
      transform: scale(1.2);
    }

    .hide {
      color: white;
      font-size: 22px;
      position: absolute;
      top: 450px;
      left: 130px;
      display: none;
      z-index: 5;
    }

    @keyframes halo {
      0% {
        transform: translateY(0px);
      }

      50% {
        transform: translateY(20px);
        //   transform: scale(1.2);
      }

      100% {
        transform: translateY(0px);
        //   transform: scale(1);
      }
    }

    @keyframes halo2 {
      0% {
        transform: translateY(0px);

        opacity: 1;
      }

      50% {
        transform: translateY(20px);

        opacity: 0.1;
      }

      100% {
        transform: translateY(0px);

        opacity: 1;
      }
    }
  }

  .overlay {
    display: none;
    .overlay-contact {
      position: absolute;
      width: 100%;
      height: 100%;
      // background: url("./images/Ellipse\ 6.png");
      background-position: center;
      background-color: #707070;
      z-index: 99;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 500px;
      animation: about 0.1s ease-in forwards;
      opacity: 0;

      .phone {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 280px;
        padding: 50px 30px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #919191;

        .phone-img {
          img {
            width: 50px;
          }
        }

        .info {
          h2 {
            font-size: 2rem;
            padding-bottom: 0.4rem;
          }

          p {
            font-size: 1.5rem;
          }
        }
      }

      .email {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 330px;
        padding: 50px 30px;
        border-radius: 10px;
        background-color: #2f2f2f;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #919191;

        .email-img {
          img {
            width: 50px;
          }
        }

        .info {
          h2 {
            font-size: 2rem;
            padding-bottom: 0.3rem;
          }
          p {
            font-size: 1.5rem;
          }
        }
      }
    }
  }


}

@media (max-width: 768px) {
  .container {
    max-width: 370px;
    background-image:  url("./images/8.svg");
    background-repeat: no-repeat;
    background-size: cover,cover;
    background-position: -100px 10px;
    background-size:650px 800px;
    overflow: hidden;
    height: 100vh;

    .logo {
      position: block;
      top: 30px;
      left: 30px;

      img {
        width: 40px;
      }
    }

    .dot {
      position: absolute;
      bottom: 0px;
      left: 50px;
      img {
        width: 2px;
      }
    }

    .dot1 {
      animation: animation 4.1s linear ;
    }
  
    .dot2 {
      animation: dot 1s infinite ; 
      top: 401px;
      opacity: 1;
      content: '';
      height: 2px;
      width: 8px;
      background-color: transparent;
      border: #20e400 solid .6px;
      border-radius: 50%;
      left: 176px;
      overflow: hidden;
      position: absolute;
      
    }
  
    @keyframes dot {
      0% {
        opacity: 1;
      
        // transform: scale(0);
  
      }
  
      100% {
        opacity: 0;
     
        // transform: scale(1);
  
      }
    }
  

    .title {
      position: absolute;
      top: 350px;
      left: 120px;
      color: white;
      font-size: 14px;
      z-index: 5;

      p {
        font-size: 16px;
      }

      span {
        font-size: 18px;
        color: #20e400;
      }
    }
    .name {
      position: absolute;
      top: 300px;
      right: 100px;
      color: white;

      display: none;

      span {
        display: block;
      }
    }

    .social {
      right: 100px;
      top: 600px;
      display: block;
      z-index: 4;

      a {
        margin-left: 0.5rem;
      }

      img {
        width: 40px;
        opacity: 0.5;
      }

      img:hover {
        opacity: 1;
        transform: scale(1.2);
        transition: all 0.3s;
      }
    }

    .nav-bar {
      position: fixed;
      top: 0px;
      right: 0px;
      background-color: #20e400;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 100px;
      z-index: 5;
      display: none;
      ul {
        li {
          display: block;
          margin-left: 0;
          opacity: 1;
          padding-bottom: 20px;
          font-size: 32px;
          margin-bottom: 1rem;

          a {
            background-color: rgba(251, 250, 248, 0.4);
            padding: 10px 20px;
            border-radius: 5px;

            text-decoration: none;
            color: white;
          }
        }
      }

      li:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        opacity: 1;
      }
    }
    .burger {
      position: absolute;
      right: 20px;
      top: 30px;
      width: 30px;
      z-index: 100;
      z-index: 4;
      display: block;
    }

    .close {
      display: none;
      position: absolute;
      right: 20px;
      top: 30px;
      width: 30px;
      z-index: 120;
    }
    .close2 {
      display: none;
      position: absolute;
      right: 0px;
      top: 30px;
      width: 30px;
      z-index: 120;
    }
    .close-menu {
      display: none;
      position: absolute;
      right: 30px;
      top: 30px;
      width: 30px;
      z-index: 5;
    }

    .nav-bar.active,
    .close.active,
    .close2.active,
    .close-menu.active {
      display: block;
    }

    .zombi {
      position: absolute;
      height: 550px;
      width: 400px;
      z-index: 2;
      bottom: 0px;
      left: 0px;
      transition: all 1s ease;
      overflow: hidden;
      display: none;
    }

    .img1 {
      position: absolute;
      width: 200px;
      top: 250px;
      left: 100px;
      z-index: 3;
      animation: none ;
      overflow: hidden;
      opacity: 1;
      display: none;
      
    }

    .img2 {
      position: absolute;
      width: 580px;
      top: 140px;
      left: -100px;
      z-index: 2;
      transition: all 0.5s ease;
      animation: halo2 2s linear infinite;
      overflow: hidden;
      display: none;
    }

    .img4 {
      position: absolute;
      width: 150px;
      top: 200px;
      left: 100px;
      z-index: 8;
      transition: all 0.1s ease;
      opacity: 1;

      // animation: halo2 2s linear infinite;
    }

    .img4:hover {
      opacity: 0.1;
      // transform: scale(1.2);
    }

    .img5 {
      position: absolute;
      width: 125px;
      top: 290px;
      left: 220px;
      z-index: 8;
      transition: all 0.1s ease;
      opacity: 0;

      // animation: halo2 2s linear infinite;
    }
    .img6 {
      position: absolute;
      width: 95px;
      top: 270px;
      left: 320px;
      z-index: 8;
      transition: all 0.1s ease;
      // animation: halo2 2s linear infinite;
      opacity: 0;
    }

    .img5:hover {
      opacity: 0.2;
      transform: scale(1.2);
    }
    .img6:hover {
      opacity: 0.2;
      transform: scale(1.2);
    }

    .hide {
      color: white;
      font-size: 22px;
      position: absolute;
      top: 450px;
      left: 130px;
      display: none;
      z-index: 5;
    }

    @keyframes halo {
      0% {
        transform: translateY(0px);
      }

      50% {
        transform: translateY(20px);
        //   transform: scale(1.2);
      }

      100% {
        transform: translateY(0px);
        //   transform: scale(1);
      }
    }

    @keyframes halo2 {
      0% {
        transform: translateY(0px);

        opacity: 1;
      }

      50% {
        transform: translateY(20px);

        opacity: 0.1;
      }

      100% {
        transform: translateY(0px);

        opacity: 1;
      }
    }

    .overlay {
      display: none;
      .overlay-contact {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("./images/Ellipseblanca.png");
        background-position: center;
        background-color: #1e1e1e;
        z-index: 100;
        opacity: 1;
        color: #fff;
        display: block;
        align-items: center;
        justify-content: space-around;
        padding: 75px;
        animation: about 0.1s ease-in forwards;
        opacity: 0;
        height: 100vh;
        .phone {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          width: 300px;
          margin: 100px 100px 50px -40px;
          background-color: #919191;
          padding: 50px 30px;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
          .phone-img {
            img {
              width: 40px;
            }
          }
  
          .info {
            h2 {
              font-size: 2rem;
              padding-bottom: 0.5rem;
            }
  
            p {
              font-size: 1.2rem;
            }
          }
        }
  
        .email {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          width: 300px;
          padding: 50px 30px;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          background-color: #919191;
          margin: 20px 100px 50px -40px;
  
          .email-img {
            img {
              width: 40px;
            }
          }
  
          .info {
            // margin-left: 0;
            // padding-left: 0;
            h2 {
              font-size: 2rem;
              padding-bottom: 0.5rem;
            }
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  


    .overlay2 {
      display: none;
      z-index: 100;
      .overlay-contact {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #707070;
        z-index: 100;
        opacity: 1;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 200px;
    
        .main-about-me{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 300px;
          min-height: 500px;
          padding: 50px 30px;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          background-color: #919191;
    
          .phone-img {
            img {
              width: 300px;
            }
          }
    
          .info {
            h2 {
              font-size: 2rem;
              padding-bottom: 1rem;
            }
    
            p {
              font-size: 1.2rem;
            }
          }
        }
    
        .email {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 340px;
          padding: 50px 30px;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          background-color: #919191;
    
          .email-img {
            img {
              width: 100px;
            }
          }
    
          .info {
            h2 {
              font-size: 2rem;
              padding-bottom: 1rem;
            }
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  
  }


  
  
  @keyframes about {
    0% {
      opacity: 0;
      transform: scaleX(0);
    }
  
    100% {
      opacity: 1;
      transform: scaleX(1);
    }
  }
  
  
}
