@import url("https://fonts.googleapis.com/css2?family=Abel&family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0e0e0e;
  font-family: "Abel", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background: url("./Ellipse 6.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -450px -660px;
  background-size: 2300px;
  overflow: hidden;
}

.container .logo {
  position: absolute;
  top: 50px;
  left: 50px;
}

.container .logo img {
  width: 50px;
}

.container .title {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: white;
  font-size: 12px;
}

.container .title p {
  font-size: 16px;
}

.container .title span {
  font-size: 18px;
  color: #20e400;
}

.container .name {
  position: absolute;
  top: 50px;
  right: 50px;
  color: white;
}

.container .name span {
  display: block;
}

.container .social {
  position: absolute;
  right: 50px;
  top: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.container .social img {
  width: 30px;
  opacity: .5;
}

.container .social img:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .burger {
  display: none;
}

.container .close {
  display: none;
}

.container .nav-bar {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.container .nav-bar ul li {
  display: inline-block;
  margin-left: 2rem;
  opacity: .5;
}

.container .nav-bar ul li a {
  text-decoration: none;
  color: white;
}

.container .nav-bar li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 1;
}

.container .img1 {
  position: absolute;
  width: 500px;
  z-index: 10;
  bottom: 0;
  left: 360px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.container .img2 {
  position: absolute;
  width: 550px;
  top: 70px;
  left: 380px;
  z-index: 9;
  -webkit-animation: halo 2s linear infinite;
          animation: halo 2s linear infinite;
}

.container .img3 {
  position: absolute;
  width: 650px;
  top: 20px;
  left: 330px;
  z-index: 8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: halo2 2s linear infinite;
          animation: halo2 2s linear infinite;
}

.container .img4 {
  position: absolute;
  width: 150px;
  top: 200px;
  left: 100px;
  z-index: 8;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  opacity: 0;
}

.container .img4:hover {
  opacity: .1;
}

.container .img5 {
  position: absolute;
  width: 125px;
  top: 290px;
  left: 220px;
  z-index: 8;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  opacity: 0;
}

.container .img6 {
  position: absolute;
  width: 95px;
  top: 270px;
  left: 320px;
  z-index: 8;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  opacity: 0;
}

.container .img5:hover {
  opacity: .2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container .img6:hover {
  opacity: .2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container .hide {
  color: white;
  font-size: 22px;
  position: absolute;
  top: 450px;
  left: 130px;
  display: none;
  z-index: 5;
}

@-webkit-keyframes halo {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes halo {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes halo2 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: .1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes halo2 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: .1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 400px;
    background: url("./Ellipse 6.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-size: 400px;
    overflow: hidden;
  }
  .container .logo {
    position: block;
    top: 30px;
    left: 30px;
  }
  .container .logo img {
    width: 40px;
  }
  .container .title {
    position: absolute;
    top: 400px;
    left: 120px;
    color: white;
    font-size: 12px;
    z-index: 5;
  }
  .container .title p {
    font-size: 16px;
  }
  .container .title span {
    font-size: 18px;
    color: #20e400;
  }
  .container .name {
    position: absolute;
    top: 300px;
    right: 100px;
    color: white;
    display: none;
  }
  .container .name span {
    display: block;
  }
  .container .social {
    position: absolute;
    right: 100px;
    top: 800px;
    display: block;
    z-index: 4;
  }
  .container .social a {
    margin-left: .3rem;
  }
  .container .social img {
    width: 30px;
    opacity: .5;
  }
  .container .social img:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .container .nav-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #20e400;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
    z-index: 5;
    display: none;
  }
  .container .nav-bar ul li {
    display: block;
    margin-left: 0;
    opacity: 1;
    padding-bottom: 20px;
    font-size: 32px;
    margin-bottom: 1rem;
  }
  .container .nav-bar ul li a {
    background-color: rgba(251, 250, 248, 0.4);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
  }
  .container .nav-bar li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1;
  }
  .container .burger {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    z-index: 100;
    z-index: 4;
    display: block;
  }
  .container .close {
    display: none;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    z-index: 6;
  }
  .container .nav-bar.active, .container .close.active {
    display: block;
  }
  .container .img1 {
    position: absolute;
    height: 650px;
    width: 400px;
    z-index: 2;
    bottom: -100px;
    left: -50px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    overflow: hidden;
  }
  .container .img2 {
    position: absolute;
    width: 500px;
    top: 170px;
    left: -60px;
    z-index: 3;
    -webkit-animation: halo 2s linear infinite;
            animation: halo 2s linear infinite;
    overflow: hidden;
    display: none;
  }
  .container .img3 {
    position: absolute;
    width: 580px;
    top: 140px;
    left: -100px;
    z-index: 2;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-animation: halo2 2s linear infinite;
            animation: halo2 2s linear infinite;
    overflow: hidden;
    display: none;
  }
  .container .img4 {
    position: absolute;
    width: 150px;
    top: 200px;
    left: 100px;
    z-index: 8;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    opacity: 0;
  }
  .container .img4:hover {
    opacity: .1;
  }
  .container .img5 {
    position: absolute;
    width: 125px;
    top: 290px;
    left: 220px;
    z-index: 8;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    opacity: 0;
  }
  .container .img6 {
    position: absolute;
    width: 95px;
    top: 270px;
    left: 320px;
    z-index: 8;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    opacity: 0;
  }
  .container .img5:hover {
    opacity: .2;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .container .img6:hover {
    opacity: .2;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .container .hide {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 450px;
    left: 130px;
    display: none;
    z-index: 5;
  }
  @-webkit-keyframes halo {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes halo {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @-webkit-keyframes halo2 {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
      opacity: .1;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes halo2 {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
      opacity: .1;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }
}

@media (min-width: 1441px) {
  .container {
    height: 100vh;
    width: 100%;
    background: url("./Ellipse 6.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 2000px;
    overflow: hidden;
  }
  .container .logo {
    position: block;
    top: 50px;
    left: 50px;
  }
  .container .logo img {
    width: 60px;
  }
  .container .title {
    position: absolute;
    bottom: 25px;
    left: 50px;
    color: white;
    font-size: 20px;
    z-index: 11;
  }
  .container .title p {
    font-size: 20px;
  }
  .container .title span {
    font-size: 22px;
    color: #20e400;
  }
  .container .name {
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    font-size: 20px;
    display: block;
  }
  .container .name span {
    display: block;
  }
  .container .social {
    position: absolute;
    right: 50px;
    top: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .container .social img {
    width: 40px;
    opacity: .5;
  }
  .container .social img:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container .burger {
    display: none;
  }
  .container .close {
    display: none;
  }
  .container .img1 {
    position: absolute;
    width: 700px;
    z-index: 10;
    bottom: 0;
    left: 600px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .container .img2 {
    position: absolute;
    width: 650px;
    top: 130px;
    left: 680px;
    z-index: 3;
    -webkit-animation: halo 2s linear infinite;
            animation: halo 2s linear infinite;
    overflow: hidden;
    display: block;
  }
  .container .img3 {
    position: absolute;
    width: 770px;
    top: 60px;
    left: 620px;
    z-index: 2;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-animation: halo2 2s linear infinite;
            animation: halo2 2s linear infinite;
    overflow: hidden;
    display: block;
  }
  .container .img4 {
    position: absolute;
    width: 150px;
    top: 200px;
    left: 100px;
    z-index: 8;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    opacity: 0;
  }
  .container .img4:hover {
    opacity: .1;
  }
  .container .img5 {
    position: absolute;
    width: 125px;
    top: 290px;
    left: 220px;
    z-index: 8;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    opacity: 0;
  }
  .container .img6 {
    position: absolute;
    width: 95px;
    top: 270px;
    left: 320px;
    z-index: 8;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    opacity: 0;
  }
  .container .img5:hover {
    opacity: .2;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .container .img6:hover {
    opacity: .2;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .container .hide {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 450px;
    left: 130px;
    display: none;
    z-index: 5;
  }
  @-webkit-keyframes halo {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes halo {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @-webkit-keyframes halo2 {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
      opacity: .1;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes halo2 {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
      opacity: .1;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }
}
/*# sourceMappingURL=style.css.map */