@import url("https://fonts.googleapis.com/css2?family=Abel&family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 14, 14);
  font-family: "Abel", sans-serif;
//   max-width: 1200px;
}

.container {
  height: 100vh;
  width: 100%;
  background: url("./Ellipse\ 6.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -450px -660px;
  background-size: 2300px;

  overflow: hidden;

  .logo {
    position: absolute;
    top: 50px;
    left: 50px;

    img {
      width: 50px;
    }
  }


  .title {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
    font-size: 12px;

    p {
      font-size: 16px;
    }

    span {
      font-size: 18px;
      color: #20e400;
    }
  }

  .dot{
    position: absolute;
    bottom: 120px;
    left: 20px;
    img{
      width: 2px;
    }

  }
  .dot1{
    animation: animation 4.1s linear infinite;
    left: 50px;
  }

  .dot2{
    animation: animation 1.6s linear infinite;
    left: 60px;

  }
  .dot3{
    animation: animation 2.2s linear infinite;
    left: 70px;

  }
  @keyframes animation {
    0% {
      opacity: 0;
      transform: translateY(20px);
  }

  100% {
opacity: 1;
transform: translateY(-200px);

  }
}

  .name {
    position: absolute;
    top: 50px;
    right: 50px;
    color: white;

    span {
      display: block;
    }
  }

  .social{
    position: absolute;
    right: 50px;
    top: 350px;
    display: flex;
    flex-direction: column;
    gap:20px;

    img{
        width: 30px;
        opacity: .5;
    }

    img:hover{
        opacity: 1;
    transform: scale(1.2);
    transition: all 0.5s;

    }
  }

  .burger{
    display: none;


}

.close{
    display: none;

}


  .nav-bar{
    position: absolute;
    bottom: 50px;
    right: 50px;
ul{
    li{
        display: inline-block;
        margin-left: 2rem;
        opacity: .5;
        
        a{
            text-decoration: none;
            color: white;
        }

    }
}

li:hover{

    transform: scale(1.1);
    transition: all .3s ease-in-out;
    opacity: 1;

}


  }

  .img1 {
    position: absolute;
    width: 500px;
    z-index: 10;
    bottom: 0;
    left: 360px;
    transition: all 1s ease;
  }

  .img2 {
    position: absolute;
    width: 550px;
    top: 70px;
    left: 380px;
    z-index: 9;
    animation: halo 2s linear infinite;
  }

  .img3 {
    position: absolute;
    width: 650px;
    top: 20px;
    left: 330px;
    z-index: 8;
    transition: all 0.5s ease;
    animation: halo2 2s linear infinite;
  }

  .img4 {
    position: absolute;
    width: 150px;
    top: 200px;
    left: 100px;
    z-index: 8;
    transition: all 0.1s ease;
    opacity: 0;

 

    // animation: halo2 2s linear infinite;
  }

  .img4:hover{
    opacity: .1;
    // transform: scale(1.2);
   

}



  .img5 {
    position: absolute;
    width: 125px;
    top: 290px;
    left: 220px;
    z-index: 8;
    transition: all 0.1s ease;
    opacity: 0;

    // animation: halo2 2s linear infinite;
  }
  .img6 {
    position: absolute;
    width: 95px;
    top: 270px;
    left: 320px;
    z-index: 8;
    transition: all 0.1s ease;
    // animation: halo2 2s linear infinite;
    opacity: 0;
  }

.img5:hover{
    opacity: .2;
   transform: scale(1.2);

}
.img6:hover{
    opacity: .2;
    transform: scale(1.2);

}

.hide{
    color: white;
    font-size: 22px;
    position: absolute;
    top: 450px;
    left: 130px;
    display: none;
    z-index: 5;
}





  @keyframes halo {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(20px);
    //   transform: scale(1.2);

    }

   
    100% {
      transform: translateY(0px);
    //   transform: scale(1);
    }
  }

  @keyframes halo2 {
    0% {
        transform: translateY(0px);
 
    opacity: 1;
    }

    50% {
        transform: translateY(20px);
    
    opacity: .1;

    }

   
    100% {
      transform: translateY(0px);

    opacity: 1;
    }
  }
}


@media (max-width: 768px) {

    .container {
        // height: 100vh;
        // width: 400px;
        max-width: 400px;
        background: url("./Ellipse\ 6.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        background-size: 400px;
        overflow: hidden;
      
        .logo {
          position: block;
          top: 30px;
          left: 30px;
      
          img {
            width: 40px;
          }
        }
      
        .title {
          position: absolute;
          top: 400px;
          left: 120px;
          color: white;
          font-size: 12px;
          z-index: 5;
      
          p {
            font-size: 16px;
          }
      
          span {
            font-size: 18px;
            color: #20e400;
          }
        }
        .name {
          position: absolute;
          top: 300px;
          right: 100px;
          color: white;

          display: none;
      
          span {
            display: block;
          }
        }
      
        .social{
          position: absolute;
          right: 100px;
          top: 800px;
          display: block;
          z-index: 4;

          a{
            margin-left: .3rem;

          }
      
          img{
              width: 30px;
              opacity: .5;
          }
      
          img:hover{
              opacity: 1;
          transform: scale(1.2);
          transition: all 0.3s;
      
          }
        }
      
        .nav-bar{
          position: fixed;
          top: 0px;
          right: 0px;
          background-color: #20e400;
          width: 100%;
          height: 100%;
          text-align: center;
          padding-top: 100px;
          z-index: 5;
          display: none;
      ul{
          li{
              display: block;
              margin-left: 0;
              opacity: 1;
              padding-bottom: 20px;
              font-size: 32px;
              margin-bottom: 1rem;
              
              a{
                background-color: rgba(251, 250, 248,.4);
                padding: 10px 20px;
                border-radius: 5px;
            
                  text-decoration: none;
                  color: white;
              }
      
          }
      }
      
      li:hover{
      
          transform: scale(1.1);
          transition: all .3s ease-in-out;
          opacity: 1;
      
      }
      
      
        }
        .burger{
            position: absolute;
            right: 20px;
            top: 30px;
            width: 30px;
            z-index: 100;
          z-index: 4;
          display: block;

            
             
            
        }

        .close{
            display: none;
            position: absolute;
            right: 20px;
            top: 30px;
            width: 30px;
          z-index: 6;

        }

        .nav-bar.active, .close.active{
          display: block ;

        }
      
        .img1 {
          position: absolute;
          height: 650px;
         width: 400px;
          z-index: 2;
          bottom: -100px;
          left: -50px;
          transition: all 1s ease;
          overflow:hidden ;
          // display: none;
        }
       
        .img2 {
          position: absolute;
          width: 500px;
          top: 170px;
          left: -60px;
          z-index: 3;
          animation: halo 2s linear infinite;
          overflow: hidden;
          display: none;


        }
      
        .img3 {
          position: absolute;
          width: 580px;
          top: 140px;
          left: -100px;
          z-index: 2;
          transition: all 0.5s ease;
          animation: halo2 2s linear infinite;
          overflow: hidden;
          display: none;
        }
      
        .img4 {
          position: absolute;
          width: 150px;
          top: 200px;
          left: 100px;
          z-index: 8;
          transition: all 0.1s ease;
          opacity: 0;
      
       
      
          // animation: halo2 2s linear infinite;
        }
      
        .img4:hover{
          opacity: .1;
          // transform: scale(1.2);
         
      
      }
      
      
      
        .img5 {
          position: absolute;
          width: 125px;
          top: 290px;
          left: 220px;
          z-index: 8;
          transition: all 0.1s ease;
          opacity: 0;
      
          // animation: halo2 2s linear infinite;
        }
        .img6 {
          position: absolute;
          width: 95px;
          top: 270px;
          left: 320px;
          z-index: 8;
          transition: all 0.1s ease;
          // animation: halo2 2s linear infinite;
          opacity: 0;
        }
      
      .img5:hover{
          opacity: .2;
         transform: scale(1.2);
      
      }
      .img6:hover{
          opacity: .2;
          transform: scale(1.2);
      
      }
      
      .hide{
          color: white;
          font-size: 22px;
          position: absolute;
          top: 450px;
          left: 130px;
          display: none;
          z-index: 5;
      }
      
      
      
      
      
        @keyframes halo {
          0% {
            transform: translateY(0px);
          }
      
          50% {
            transform: translateY(20px);
          //   transform: scale(1.2);
      
          }
      
         
          100% {
            transform: translateY(0px);
          //   transform: scale(1);
          }
        }
      
        @keyframes halo2 {
          0% {
              transform: translateY(0px);
       
          opacity: 1;
          }
      
          50% {
              transform: translateY(20px);
          
          opacity: .1;
      
          }
      
         
          100% {
            transform: translateY(0px);
      
          opacity: 1;
          }
        }
      }
    

     

}

@media (min-width: 1441px) {

    .container {
        height: 100vh;
        width: 100%;
        // max-width: 1920px;
        background: url("./Ellipse\ 6.png");
        background-repeat: no-repeat;
        background-size: contain;
         background-position:center ;
        background-size:  2000px;
        overflow: hidden;
      
        .logo {
          position: block;
          top: 50px;
          left: 50px;
      
          img {
            width: 60px;
          }
        }
      
        .title {
          position: absolute;
          bottom: 25px;
          left: 50px;
          color: white;
          font-size: 20px;
          z-index: 11;
      
          p {
            font-size: 20px;
          }
      
          span {
            font-size: 22px;
            color: #20e400;
          }
        }
        .name {
          position: absolute;
          top: 30px;
          right: 50px;
          color: white;
font-size: 20px;
          display: block;
      
          span {
            display: block;
          }
        }
        .social{
            position: absolute;
            right: 50px;
            top: 360px;
            display: flex;
            flex-direction: column;
            gap:20px;
        
            img{
                width: 40px;
                opacity: .5;
            }
        
            img:hover{
                opacity: 1;
            transform: scale(1.2);
            transition: all 0.5s;
        
            }
          }
        
        .burger{
         
          display: none;
            
        }

        .close{
            display: none;
       

        }

        .img1 {
            position: absolute;
            width: 700px;
            z-index: 10;
            bottom: 0;
            left: 600px;
            transition: all 1s ease;
        }
       
        .img2 {
          position: absolute;
          width: 650px;
          top: 130px;
          left: 680px;
          z-index: 3;
          animation: halo 2s linear infinite;
          overflow: hidden;
          display: block;


        }
      
        .img3 {
          position: absolute;
          width: 770px;
          top: 60px;
          left: 620px;
          z-index: 2;
          transition: all 0.5s ease;
          animation: halo2 2s linear infinite;
          overflow: hidden;
          display: block;
        }
      
        .img4 {
          position: absolute;
          width: 150px;
          top: 200px;
          left: 100px;
          z-index: 8;
          transition: all 0.1s ease;
          opacity: 0;
      
       
      
          // animation: halo2 2s linear infinite;
        }
      
        .img4:hover{
          opacity: .1;
          // transform: scale(1.2);
         
      
      }
      
      
      
        .img5 {
          position: absolute;
          width: 125px;
          top: 290px;
          left: 220px;
          z-index: 8;
          transition: all 0.1s ease;
          opacity: 0;
      
          // animation: halo2 2s linear infinite;
        }
        .img6 {
          position: absolute;
          width: 95px;
          top: 270px;
          left: 320px;
          z-index: 8;
          transition: all 0.1s ease;
          // animation: halo2 2s linear infinite;
          opacity: 0;
        }
      
      .img5:hover{
          opacity: .2;
         transform: scale(1.2);
      
      }
      .img6:hover{
          opacity: .2;
          transform: scale(1.2);
      
      }
      
      .hide{
          color: white;
          font-size: 22px;
          position: absolute;
          top: 450px;
          left: 130px;
          display: none;
          z-index: 5;
      }
      
      
      
      
      
        @keyframes halo {
          0% {
            transform: translateY(0px);
          }
      
          50% {
            transform: translateY(20px);
          //   transform: scale(1.2);
      
          }
      
         
          100% {
            transform: translateY(0px);
          //   transform: scale(1);
          }
        }
      
        @keyframes halo2 {
          0% {
              transform: translateY(0px);
       
          opacity: 1;
          }
      
          50% {
              transform: translateY(20px);
          
          opacity: .1;
      
          }
      
         
          100% {
            transform: translateY(0px);
      
          opacity: 1;
          }
        }
      }
    
}