@import url("https://fonts.googleapis.com/css2?family=Abel&family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 14, 14);
  font-family: "Abel", sans-serif;
}

.main-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  right: -100%;
  background-color: rgba(42, 46, 42, 0.368627451);
  z-index: 9999;
}

.container {
  height: 100vh;
  width: 100%;
  background: url("./images/Ellipseblanca.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -300px -600px;
  background-size: 2000px;
  overflow: hidden;
}
.container .canvas3d {
  position: absolute;
  width: 600px;
  height: 300px;
  left: 200px;
  top: 300px;
}
.container .logo {
  position: absolute;
  top: 50px;
  left: 50px;
}
.container .logo img {
  width: 50px;
}
.container .title {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: white;
  font-size: 12px;
}
.container .title p {
  font-size: 16px;
}
.container .title span {
  font-size: 18px;
  color: #20e400;
}
.container .dot {
  content: "";
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: #20e400 solid 0.6px;
  border-radius: 50%;
  left: 200px;
  overflow: hidden;
  opacity: 0;
}
.container .dot1 {
  -webkit-animation: animation 1s linear;
          animation: animation 1s linear;
}
@-webkit-keyframes animation {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(200);
  }
}
@keyframes animation {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(200);
  }
}
.container .name {
  position: absolute;
  top: 50px;
  right: 50px;
  color: white;
}
.container .name span {
  display: block;
}
.container .social {
  position: absolute;
  right: 50px;
  top: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .social img {
  width: 30px;
  opacity: 0.5;
}
.container .social img:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: all 0.5s;
}
.container .burger {
  display: none;
}
.container .nav-bar {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.container .nav-bar ul li {
  display: inline-block;
  margin-left: 2rem;
  opacity: 0.5;
}
.container .nav-bar ul li a {
  text-decoration: none;
  color: white;
}
.container .nav-bar li:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.container .zombi {
  position: absolute;
  width: 500px;
  z-index: 10;
  bottom: 0;
  left: 360px;
  transition: all 1s ease;
}
.container .img1 {
  position: absolute;
  width: 550px;
  top: 70px;
  left: 380px;
  z-index: 9;
  -webkit-animation: halo 2s linear infinite;
          animation: halo 2s linear infinite;
  transform: scale(3);
  transition: all 1s ease;
}
.container .img2 {
  position: absolute;
  width: 650px;
  top: 20px;
  left: 330px;
  z-index: 8;
  transition: all 0.5s ease;
  -webkit-animation: halo 2s linear infinite;
          animation: halo 2s linear infinite;
  transform: scale(3);
  transition: all 1s ease;
}
.container .img4 {
  position: absolute;
  width: 150px;
  top: 200px;
  left: 100px;
  z-index: 8;
  transition: all 0.1s ease;
  opacity: 0;
}
.container .img4:hover {
  opacity: 0.1;
}
.container .img5 {
  position: absolute;
  width: 125px;
  top: 290px;
  left: 220px;
  z-index: 8;
  transition: all 0.1s ease;
  opacity: 0;
}
.container .img6 {
  position: absolute;
  width: 95px;
  top: 270px;
  left: 320px;
  z-index: 8;
  transition: all 0.1s ease;
  opacity: 0;
}
.container .img5:hover {
  opacity: 0.2;
  transform: scale(1.2);
}
.container .img6:hover {
  opacity: 0.2;
  transform: scale(1.2);
}
.container .hide {
  color: white;
  font-size: 22px;
  position: absolute;
  top: 450px;
  left: 130px;
  display: none;
  z-index: 5;
}
@-webkit-keyframes halo2 {
  0% {
    transform: scale(1);
    transform: rotate(0);
  }
  50% {
    transform: scale(3);
    transform: rotate(180deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(360deg);
  }
}
@keyframes halo2 {
  0% {
    transform: scale(1);
    transform: rotate(0);
  }
  50% {
    transform: scale(3);
    transform: rotate(180deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes halo {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes halo {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.container .under {
  position: absolute;
  font-size: 32px;
  color: rgb(237, 46, 78);
  top: 200px;
  left: 100px;
  font-weight: 900;
  z-index: 100;
}

.close {
  display: none;
  position: absolute;
  right: 20px;
  top: 30px;
  width: 30px;
  z-index: 2;
  cursor: pointer;
}

.close2 {
  display: none;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  z-index: 120;
  cursor: pointer;
}

.close-menu {
  display: none;
  position: absolute;
  right: 20px;
  top: 30px;
  width: 30px;
  z-index: 120;
}

.close.active,
.close2.active {
  display: block;
}

.overlay {
  display: none;
}
.overlay .overlay-contact {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #707070;
  background-color: rgb(194, 194, 194);
  z-index: 100;
  opacity: 1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 200px;
}
.overlay .overlay-contact .phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #b2b2b2;
}
.overlay .overlay-contact .phone .phone-img img {
  width: 100px;
}
.overlay .overlay-contact .phone .info h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.overlay .overlay-contact .phone .info p {
  font-size: 1.2rem;
}
.overlay .overlay-contact .email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #919191;
  background-color: #b2b2b2;
}
.overlay .overlay-contact .email .email-img img {
  width: 100px;
}
.overlay .overlay-contact .email .info h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.overlay .overlay-contact .email .info p {
  font-size: 1.2rem;
}

.overlay2 {
  display: none;
  z-index: 100;
}
.overlay2 .overlay-about {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  color: rgb(194, 194, 194);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(194, 194, 194);
  background-color: #707070;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100px -200px;
  background-size: 1200px;
  overflow: hidden;
}
.overlay2 .overlay-about .zombi {
  position: absolute;
  width: 500px;
  z-index: 10;
  bottom: 0;
  left: 360px;
}
.overlay2 .overlay-about .triangle {
  position: absolute;
  width: 550px;
  top: 80px;
  left: 380px;
  z-index: 9;
  -webkit-animation: halo2 20s linear infinite;
          animation: halo2 20s linear infinite;
  transform: scale(1);
  transition: all 1s ease;
}
.overlay2 .overlay-about .main-about-me .info h2 {
  font-size: 8rem;
  padding-bottom: 1rem;
  color: #919191;
}
.overlay2 .overlay-about .main-about-me .info p {
  font-size: 2rem;
  color: #919191;
  margin-left: 250px;
}
.overlay2 .overlay-about .main-about-me .info-about {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
  text-align: center;
}
.overlay2 .overlay-about .main-about-me .info-about h2 {
  font-size: 4rem;
  font-weight: 900;
  padding-bottom: 1rem;
  color: #c5c5c5;
}
.overlay2 .overlay-about .main-about-me .info-about h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #c5c5c5;
}
.overlay2 .overlay-about .main-about-me .info-about p {
  font-size: 2rem;
  color: #c5c5c5;
}
.overlay2 .overlay-about .main-about-me .tech {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 450px;
}
.overlay2 .enter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1000;
}

@media (min-width: 1441px) {
  .container {
    height: 100vh;
    width: 100%;
    background: url("./images/Ellipseblanca.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 2000px;
    overflow: hidden;
  }
  .container .logo {
    position: block;
    top: 50px;
    left: 50px;
  }
  .container .logo img {
    width: 60px;
  }
  .container .title {
    position: absolute;
    bottom: 25px;
    left: 50px;
    color: white;
    font-size: 20px;
    z-index: 11;
  }
  .container .title p {
    font-size: 20px;
  }
  .container .title span {
    font-size: 22px;
    color: #20e400;
  }
  .container .nav-bar {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
  .container .nav-bar ul li {
    display: inline-block;
    margin-left: 2rem;
    opacity: 0.5;
  }
  .container .nav-bar ul li a {
    text-decoration: none;
    color: white;
  }
  .container .name {
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    font-size: 20px;
    display: block;
  }
  .container .name span {
    display: block;
  }
  .container .social {
    position: absolute;
    right: 50px;
    top: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container .social img {
    width: 40px;
    opacity: 0.5;
  }
  .container .social img:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.5s;
  }
  .container .burger {
    display: none;
  }
  .container .close {
    display: none;
    position: absolute;
    right: 50px;
    top: 30px;
    width: 30px;
    z-index: 120;
    cursor: pointer;
  }
  .container .close2 {
    display: none;
    position: absolute;
    right: 50px;
    top: 30px;
    width: 30px;
    z-index: 120;
    cursor: pointer;
  }
  .container .close-menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    z-index: 120;
  }
  .container .close.active,
.container .close2.active {
    display: block;
  }
  .container .zombi {
    position: absolute;
    width: 700px;
    z-index: 10;
    bottom: 0;
    left: 600px;
    transition: all 1s ease;
  }
  .container .img1 {
    position: absolute;
    width: 650px;
    top: 130px;
    left: 680px;
    z-index: 3;
    -webkit-animation: halo 2s linear infinite;
            animation: halo 2s linear infinite;
    overflow: hidden;
    display: block;
  }
  .container .img2 {
    position: absolute;
    width: 770px;
    top: 60px;
    left: 620px;
    z-index: 2;
    transition: all 0.5s ease;
    -webkit-animation: halo2 2s linear infinite;
            animation: halo2 2s linear infinite;
    overflow: hidden;
    display: block;
  }
  .container .img4 {
    position: absolute;
    width: 150px;
    top: 200px;
    left: 100px;
    z-index: 8;
    transition: all 0.1s ease;
    opacity: 0;
  }
  .container .img4:hover {
    opacity: 0.1;
  }
  .container .img5 {
    position: absolute;
    width: 125px;
    top: 290px;
    left: 220px;
    z-index: 8;
    transition: all 0.1s ease;
    opacity: 0;
  }
  .container .img6 {
    position: absolute;
    width: 95px;
    top: 270px;
    left: 320px;
    z-index: 8;
    transition: all 0.1s ease;
    opacity: 0;
  }
  .container .img5:hover {
    opacity: 0.2;
    transform: scale(1.2);
  }
  .container .img6:hover {
    opacity: 0.2;
    transform: scale(1.2);
  }
  .container .hide {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 450px;
    left: 130px;
    display: none;
    z-index: 5;
  }
  @-webkit-keyframes halo {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes halo {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @-webkit-keyframes halo2 {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    50% {
      transform: translateY(20px);
      opacity: 0.1;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes halo2 {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    50% {
      transform: translateY(20px);
      opacity: 0.1;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .overlay {
    display: none;
  }
  .overlay .overlay-contact {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-color: #707070;
    z-index: 99;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 500px;
    -webkit-animation: about 0.1s ease-in forwards;
            animation: about 0.1s ease-in forwards;
    opacity: 1;
  }
  .overlay .overlay-contact .phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #919191;
  }
  .overlay .overlay-contact .phone .phone-img img {
    width: 50px;
  }
  .overlay .overlay-contact .phone .info h2 {
    font-size: 2rem;
    padding-bottom: 0.4rem;
  }
  .overlay .overlay-contact .phone .info p {
    font-size: 1.5rem;
  }
  .overlay .overlay-contact .email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    padding: 50px 30px;
    border-radius: 10px;
    background-color: #2f2f2f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #919191;
  }
  .overlay .overlay-contact .email .email-img img {
    width: 50px;
  }
  .overlay .overlay-contact .email .info h2 {
    font-size: 2rem;
    padding-bottom: 0.3rem;
  }
  .overlay .overlay-contact .email .info p {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .container .logo {
    position: block;
    top: 30px;
    left: 30px;
  }
  .container .logo img {
    width: 40px;
  }
  .container .dot {
    position: absolute;
    bottom: 0px;
    left: 50px;
  }
  .container .dot img {
    width: 2px;
  }
  .container .dot2 {
    -webkit-animation: dot infinite 1s linear;
            animation: dot infinite 1s linear;
    top: 401px;
    opacity: 1;
    content: "";
    height: 3px;
    width: 3px;
    background-color: #20e400;
    border-radius: 50%;
    left: 176px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  @-webkit-keyframes dot {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes dot {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .container .title {
    position: absolute;
    top: 350px;
    left: 120px;
    color: #181818;
    font-size: 14px;
    z-index: 5;
  }
  .container .title h1 {
    color: #ffffff;
  }
  .container .title p {
    font-size: 16px;
    color: #ffffff;
  }
  .container .title span {
    font-size: 18px;
    color: #ffffff;
  }
  .container .name {
    display: none;
  }
  .container .social {
    right: 100px;
    top: 610px;
    display: block;
    z-index: 4;
  }
  .container .social a {
    margin-left: 0.5rem;
  }
  .container .social img {
    width: 40px;
    opacity: 0.5;
  }
  .container .social img:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.3s;
  }
  .container .nav-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #919191;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
    z-index: 5;
    display: none;
  }
  .container .nav-bar ul li {
    display: block;
    margin-left: 0;
    opacity: 1;
    padding-bottom: 20px;
    font-size: 32px;
    margin-bottom: 1rem;
  }
  .container .nav-bar ul li a {
    background-color: rgba(251, 250, 248, 0.4);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
  }
  .container .nav-bar li:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  .container .burger {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    z-index: 100;
    z-index: 4;
    display: block;
  }
  .container .close {
    display: none;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    z-index: 120;
  }
  .container .close2 {
    display: none;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    z-index: 120;
  }
  .container .close-menu {
    display: none;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    z-index: 5;
  }
  .container .nav-bar.active,
.container .close.active,
.container .close2.active,
.container .close-menu.active {
    display: block;
  }
  .container .zombi {
    position: absolute;
    height: 550px;
    width: 400px;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    transition: all 1s ease;
    overflow: hidden;
    display: none;
  }
  .container .img1 {
    position: absolute;
    width: 200px;
    top: 250px;
    left: 100px;
    z-index: 3;
    -webkit-animation: none;
            animation: none;
    overflow: hidden;
    opacity: 1;
    display: none;
  }
  .container .img2 {
    position: absolute;
    width: 580px;
    top: 140px;
    left: -100px;
    z-index: 2;
    transition: all 0.5s ease;
    -webkit-animation: halo2 2s linear infinite;
            animation: halo2 2s linear infinite;
    overflow: hidden;
    display: none;
  }
  .container .img4 {
    position: absolute;
    width: 150px;
    top: 200px;
    left: 100px;
    z-index: 8;
    transition: all 0.1s ease;
    opacity: 1;
  }
  .container .img4:hover {
    opacity: 0.1;
  }
  .container .img5 {
    position: absolute;
    width: 125px;
    top: 290px;
    left: 220px;
    z-index: 8;
    transition: all 0.1s ease;
    opacity: 0;
  }
  .container .img6 {
    position: absolute;
    width: 95px;
    top: 270px;
    left: 320px;
    z-index: 8;
    transition: all 0.1s ease;
    opacity: 0;
  }
  .container .img5:hover {
    opacity: 0.2;
    transform: scale(1.2);
  }
  .container .img6:hover {
    opacity: 0.2;
    transform: scale(1.2);
  }
  .container .hide {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 450px;
    left: 130px;
    display: none;
    z-index: 5;
  }
  @-webkit-keyframes halo {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes halo {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @-webkit-keyframes halo2 {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    50% {
      transform: translateY(20px);
      opacity: 0.1;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes halo2 {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    50% {
      transform: translateY(20px);
      opacity: 0.1;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .container .overlay {
    display: none;
  }
  .container .overlay .overlay-contact {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index: 100;
    opacity: 1;
    color: #fff;
    display: block;
    align-items: center;
    justify-content: space-around;
    padding: 75px;
    -webkit-animation: about 0.1s ease-in forwards;
            animation: about 0.1s ease-in forwards;
    opacity: 0;
    background-color: #707070;
  }
  .container .overlay .overlay-contact .phone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 300px;
    margin: 100px 100px 50px -40px;
    background-color: #919191;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .container .overlay .overlay-contact .phone .phone-img img {
    width: 40px;
  }
  .container .overlay .overlay-contact .phone .info h2 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  .container .overlay .overlay-contact .phone .info p {
    font-size: 1.2rem;
  }
  .container .overlay .overlay-contact .email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 300px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #919191;
    margin: 20px 100px 50px -40px;
  }
  .container .overlay .overlay-contact .email .email-img img {
    width: 40px;
  }
  .container .overlay .overlay-contact .email .info h2 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  .container .overlay .overlay-contact .email .info p {
    font-size: 1.2rem;
  }
  .container .overlay2 {
    display: none;
    z-index: 100;
  }
  .container .overlay2 .overlay-about {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    color: rgb(164, 162, 162);
    background-color: #707070;
  }
  .container .overlay2 .overlay-about .main-about-me .info h2 {
    font-size: 8rem;
    padding-bottom: 1rem;
    color: #919191;
  }
  .container .overlay2 .overlay-about .main-about-me .info p {
    font-size: 2rem;
    color: #919191;
    margin-left: 250px;
  }
  .container .overlay2 .overlay-about .main-about-me .info-about {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    text-align: center;
  }
  .container .overlay2 .overlay-about .main-about-me .info-about h2 {
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 1rem;
    color: #cdcdcd;
  }
  .container .overlay2 .overlay-about .main-about-me .info-about h3 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
    color: #cdcdcd;
  }
  .container .overlay2 .overlay-about .main-about-me .info-about p {
    font-size: 1.3rem;
    color: #cdcdcd;
  }
  .container .overlay2 .overlay-about .main-about-me .tech {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45 0px;
    width: 90%;
  }
  .container .overlay2 .overlay-about .main-about-me .tech img {
    width: 100%;
  }
  @-webkit-keyframes about {
    0% {
      opacity: 0;
      transform: scaleX(0);
    }
    100% {
      opacity: 1;
      transform: scaleX(1);
    }
  }
  @keyframes about {
    0% {
      opacity: 0;
      transform: scaleX(0);
    }
    100% {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}/*# sourceMappingURL=style.css.map */